/JavaFx/ProjetoLayouts/nbproject/private/
/JavaFx/ProjetoComponentes1/nbproject/private/
/JavaFx/ProjetoComponentes2/nbproject/private/
/JavaFx/ProjetoComponentes2/dist/
/JavaFx/ProjetoComponentes2/build/
/Projetos/ProjetoBaseLayoutMDI/nbproject/private/
/Projetos/ProjetoBaseLayoutMDI/build/
/Projetos/ProjetoBaseLayoutMDI/dist/